{% extends "djangoapp/base.html" %}

{% load static %}

{% block title %}
review {{ dealer_sn }}
{% endblock %}

{% block content %}
    {% if status %}
    <div class="alert alert-danger">
        <i>{{status}}</i>
    </div>
    {% endif %}
    <div class="mt-4">
        <h1 class="display-4 text-center">Review {{dealer_sn}} Car Dealership</h1>
        <hr>
        {% if user.is_authenticated %}
        <form action="{% url 'djangoapp:add_review' dealer_id dealer_sn %}" method="POST">
            <div class="form-header text-center">
                <p class="lead">Add a review about {{ dealer_sn }}</p>
            </div>
            <div class="form-inputs">
                <div class="form-group">
                    <label for="review">Review Content</label>
                    <textarea class="form-control" placeholder="Enter your reviw about {{dealer_sn}} here..." name="review" id="review" rows="2" required></textarea>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" name="purchase" id="purchase">
                    <label for="purchase" class="form-check-label">Has purchased the car from {{dealer_sn}} Car Dealership? <i>(select purchased car information below if checked)</i></label>
                </div>
                <div class="form-group row justify-content-center">
                    <label for="car" class="col-sm-2 text-right"><b>Select your car (Make-Model-Year):</b></label>
                    <select class="form-control col-sm-3" name="car" id="car">
                        {% for car in cars %}
                        <option value="{{car.mdid}}">{{car.name}}-{{car.car_make.name}}-{{car.car_year|date:"Y"}}</option>
                        {% endfor %}
                    </select>
                    <label for="purchase_date" class="col-sm-2 text-right"><b>Select Purchase Date</b></label>
                    <div class="col-sm-3">
                        <input class="form-control" type="date" placeholder="" name="purchase_date" id="purchase_date">
                    </div>
                </div>
                <div>
                    {% csrf_token %}
                    <button class="btn btn-primary btn-block" type="submit">Submit</button>
                </div>
            </div>
        </form>
        {% else %}
            <div class="alert alert-warning">
                Please sign in to post a review.
            </div>
        {% endif %}
    </div>
{% endblock content %}