{% extends "djangoapp/base.html" %}

{% load static %}

{% block title%}
Contact HELIX Cars Dealership
{% endblock %}

{% block content %}
<div class="mt-4">
    <h2 class="display-4 text-center">Contact HELIX Cars Dealership</h2>
    <p class="lead text-center">Reach us any time during working days for any inquiry.</p>

    <div class="card text-center">
        <div class="card-header">
            Use any of the contacts below to contact us.
        </div>
        <div class="card-body">
            <h5 class="card-title">Customer Service</h5>
            <p class="card-text">Tel. 1-020-000-500</p>
            <h5 class="card-title">Mailbox: info@helix.co.ke</h5>
            <p class="card-text">Miscellaneous St.<br>#254 Texas City, NA 45700</p>
        </div>
    </div>
</div>
{% endblock content %}