{% extends "djangoapp/base.html" %}

{% load static %}

{% block title %}
{{dealer_sn}} Reviews
{% endblock %}

{% block content %}
    <div class="mt-4 text-center">
        <h2 class="display-4">{{dealer_sn}} Car Dealership</h2>
        {% if user.is_authenticated %}
        <div class="alert alert-secondary" role="alert">
            Give {{dealer_sn}} car dealer's a <a href="{% url 'djangoapp:add_review' dealer_id dealer_sn %}">review</a>.
        </div>
        {% else %}
        <div class="alert alert-warning" role="alert">
            Please <a href="{% url 'djangoapp:login' %}" class="alert-link">sign in</a> first inorder to give a review.
        </div>
        {% endif %}
    </div>
    <hr>

    {% if reviews %}
    <div class="card-columns mt-2">
        {% for review in reviews %}
        <div class="card">
            {% if review.sentiment == "positive" %}
            <img class="card-img-left ml-2 mt-2" height="50px" width="50px" src="{{MEDIA_URL}}/emoji/positive.png">
            {% elif review.sentment == "negative" %}
            <img class="card-img-left ml-2 mt-2"  height="50px" width="50px" src="{{MEDIA_URL}}/emoji/negative.png">
            {% else %}
            <img class="card-img-left ml-2 mt-2"  height="50px" width="50px" src="{{MEDIA_URL}}/emoji/neutral.png">
            {% endif %}
            <div class="card-body">
                <h4 class="card-title">{{review.car_make}} {{review.car_model}}</h4>
                <h5 class="card-title">{{review.car_year}}</h5>
                <p class="card-text">{{review.review}}</p>
                <p><i class="text-muted">~ Reviwed by {{review.name}}</i></p>
            </div>
        </div>
        {% endfor %}
    </div>

    {% else %}
    <div>
        <div class="alert alert-info font-italic" role="alert">
            No available reviews  yet for this dealer.
        </div>
    </div>
    {% endif %}
{% endblock content %}